###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/.docker/.env.nginx.local

###> qossmic/deptrac-shim ###
/.deptrac.cache
###< qossmic/deptrac-shim ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

/.idea/
###> phpunit/phpunit ###
/phpunit.xml.dist
.phpunit.result.cache
###< phpunit/phpunit ###
/supervisord.pid
