{% extends 'base.html.twig' %}

{% block subtitle %}
  <h1 class="title">Homepage</h1>
{% endblock subtitle %}

{% block body %}
  <div class="container">
    <div class="content">
      <p>This is a simple Symfony 6 project which use:</p>
      <ul>
        <li>DDD,</li>
        <li>CQRS,</li>
        <li>event-driven architecture</li>
        <li>clean/hexagonal architecture,</li>
      </ul>
    </div>
  </div>
{% endblock body %}